{% extends 'firstpage/index.html' %}

{% load static %}
    {% block title %}
    <title>Ethiopian Calendar</title>
    {% endblock title %}
{% block header %}
    <h2>Ethiopian Calendar</h2>
    <section id="contact" class="contact">
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-box">
                    <label for="year"><h2>Year:</h2></label>
                    <input type="number" id="year" name="year" required>
                    <br>
                    <label for="month"><h2>Month</h2></label>
                    <input type="number" id="month" name="month" required>
                    <br>
                    <label for="day"><h2>Day:</h2></label>
                    <input type="number" id="day" name="day" required>
                    <br>
                    <button class="btn" type="submit">Submit</button>
                </div>
    
            </div>
    
    
        </form>
        {% if year and month and day %}
        <h2>Resu<span>lts</span>:</h2>
        <p>Year: {{ year }}</p>
        <p>Month: {{ month }}</p>
        <p>Day: {{ day }}</p>
        <!-- <p>Julian Day Number: {{ julian }}</p> -->
        <p>Weekday: {{ weekday }}</p>
        {% endif %}

    </section>
{% endblock %}

