{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script defer src="{% static 'firstpage/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'firstpage/style.css' %}">
    {%block title%}
    <title>Sky Media - Creative Services</title>
    {%endblock%}

</head>

<body>
    {%block header%}
    <header>
        <div class="logo">
            <a href="#home" class="logo">Sky Media <span>Solutions</span></a>
        </div>
        <div class="bx bx-menu" id="menu-icon"></div>
        <nav>
            <ul class="nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#Portfolio">Portfolio</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="top-btn">
            <a href="{% url 'order'%}" class="nav-btn">order</a>
        </div>
    </header>

    <section id="home" class="hero">
        <div class="home-content">
            <h3>Creative</h3>
            <h1>Visual & Digital</h1>
            <h3><span class="multiple-text">Services</span></h3>

            <p>Transform your ideas into reality with our creative digital services. From graphics to videos and social
                media, we’ve got you covered!</p>
            <a href="#" class="btn">Explore Services</a>
        </div>
        <div class="home-image">
            <img src="{%static 'firstpage/7.jpg'%}" alt="Home Image">
        </div>
    </section>

    <section id="services" class="services">
        <h2 class="heading">Our <span>Services</span></h2>
        <div class="service-container">
            <div class="service-box">
                <i class="bx bx-video"></i>
                <h3>Multimedia Production</h3>
                <p>Our team of creative professionals is dedicated to delivering high-quality multimedia solutions with
                    innovation and precision.
                    We work closely with you to bring your vision to life, ensuring content that exceeds expectations.
                    Whether it's video production, graphic design, or branding, we’re here to enhance your digital
                    presence with creativity and expertise.</p>
                <a href="#" class="btn">Read More</a>
            </div>

            <div class="service-box">
                <i class="bx bx-code"></i>
                <h3>Web Development</h3>
                <p>Our team of talented developers and designers is dedicated to delivering excellence through
                    innovation, precision, and a client-first approach.
                    We take the time to understand your vision, working collaboratively to craft solutions that not only
                    meet but surpass your expectations.
                    We also maintain your existing project to elevate your digital presence.</p>
                <a href="#" class="btn">Read More</a>
            </div>

            <div class="service-box">
                <i class="bx bx-chart"></i>
                <h3>Digital Marketing</h3>
                <p>Our digital marketing experts focus on innovation, strategy, and results-driven solutions to elevate
                    your brand.
                    We work closely with you to craft campaigns that engage your audience and drive growth.
                    Whether it’s social media, SEO, or paid advertising, we’re here to maximize your digital impact with
                    creativity and precision.</p>
                <a href="#" class="btn">Read More</a>
            </div>

        </div>
    </section>


    <section id="Portfolio" class="Portfolio">
        <h2 class="heading">Our <span>Portfolio</span></h2>
        <div class="portfolio-boxes">
            <div class="row">
                <a href="{%url 'videos'%}">
                    <img src="{% static 'firstpage/5.jpg'%}" alt="Video Editing">
                    <p>🎬 Video Editing</p>
                </a>
            </div>
            

            <div class="row">
                <img src="{% static 'firstpage/1.jpg' %}" alt="graphics design">
                <p>🎨 Graphic Design</p>
            </div>
            <div class="row">
                <img src="{% static 'firstpage/8.jpg' %}" alt="thumbnail creation">
                <p>📸 Thumbnail Creation</p>
            </div>
        </div>
        <div class="portfolio-boxes">
            <div class="row">
                <img src="{% static 'firstpage/3.jpg' %}" alt="social media management">
                <p>📢 Social Media Management</p>
            </div>
            <div class="row">
                <img src="{% static 'firstpage/6.jpg' %}" alt="web development">
                <p>🖥️Web Development And Maintenance</p>
            </div>
            <div class="row">
                <img src="{% static 'firstpage/2.jpg' %}" alt="digital marketing">
                <p>📈digital marketing</p>
            </div>
        </div>
    </section>

    <section id="about" class="about">
        <div class="about-img">
            <img src="{% static 'firstpage/4.jpg' %}" alt="">
        </div>
        <div class="about-content">
            <h2 class="heading">About Us</h2>

            <p>"At Sky Media Solutions, we bring creativity and innovation to life through professional video editing,
                graphic design, and digital marketing solutions. Our team is dedicated to crafting visually stunning
                content that enhances your brand’s identity.</p>
            <p>From eye-catching thumbnails to engaging social media strategies, we help businesses and creators stand
                out.</p>
            <p>With expertise in web development, we also build dynamic, user-friendly websites tailored to your needs.
                Let’s collaborate to transform your ideas into powerful visual stories!"</p>

            <a href="#" class="btn">Book a Quote</a>
        </div>

    </section>

    <section id="contact" class="contact">
        <h2 class="heading">Contact <span>Us</span></h2>
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-box">
                    <label for="full_name">Full Name</label>
                    <input type="text" placeholder="full Name" name="full_name" required>
                    <label for="email">Email</label>
                    <input type="email" placeholder="Email" name="email" required>
                </div>
                <div class="input-box">
                    <label for="phone_number">Phone Number</label>
                    <input type="number" placeholder="phone number" name="phone_number" required>
                    <label for="subject">Subject</label>
                    <input type="text" placeholder="subject" name="subject" required>
                </div>
            </div>
            <div class="input-group-2">
                <label for="message">Message</label>
                <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                <button type="submit" class="btn">Submit Messsage</button>
            </div>
        </form>
    </section>
    {%endblock%}

    <footer class="footer">
        <div class="social">
            <a href="https://www.tiktok.com/@skymediasolutions7?is_from_webapp=1&sender_device=pc"><i
                    class='bx bxl-tiktok'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="https://www.linkedin.com/company/sky-graphics%E2%84%A2/"><i class='bx bxl-linkedin'></i></a>
            <a href="https://web.facebook.com/people/Sky-Media-Solutions/61574675975649/"><i
                    class='bx bxl-facebook'></i></a>
            <p class="copyright">
                &copy; 2025 Sky Media Solutions | All rights reserved.
            </p>
    </footer>
</body>
</html>