{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script defer src="{% static 'firstpage/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'firstpage/style.css' %}">

    <title>404</title>
</head>
<body>
    <h2 class="heading">404 <span>Page not found</span></h2>
    <h2 class="heading ">🔎</h2>
</body>
</html>